<mat-sidenav-container>
  <mat-sidenav mode="over" [(opened)]="sidenavOpened">
    <app-sidenav></app-sidenav>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="sidenavOpened = !sidenavOpened;">
        <mat-icon>menu</mat-icon>
      </button>
      <h2>
        <mat-icon *ngIf="icon">{{ icon }}</mat-icon>
        <span>{{ title }}</span>
      </h2>
      <button mat-icon-button>
        <mat-icon>fullscreen</mat-icon>
        <!-- <mat-icon>fullscreen_exit</mat-icon> -->
      </button>
    </mat-toolbar>
    <main>
      <router-outlet #outlet (activate)="onRouterOutletActivate();"></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
