
<ng-container *appHeaderExtra>
  <button
    mat-icon-button
    [disabled]="chartsOptionGroup.invalid"
    matTooltip="保存">
    <mat-icon>save</mat-icon>
  </button>
</ng-container>

<ng-container *ngIf="dataSource === null">
  <section class="data-source-selection">
    <mat-card>
      <mat-card-header>
        <mat-card-title>请选择要使用的数据源</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-form-field appearance="outline">
          <mat-label>Favorite food</mat-label>
          <mat-select [formControl]="dataSourceControl">
            <mat-option *ngFor="let item of dataSources;" [value]="item">
              {{ item.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions align="end">
        <button
          mat-button
          color="primary"
          [disabled]="dataSourceControl.invalid"
          (click)="dataSource = dataSourceControl.value;">
          确认
        </button>
      </mat-card-actions>
    </mat-card>
  </section>
</ng-container>

<ng-container *ngIf="dataSource !== null">
  <section class="main-selection">
    <div class="charts-preview-container">
      <mat-card>
        <div #previewContainer></div>
      </mat-card>
    </div>
    <div class="charts-configuration-container">
      <form [formGroup]="chartsOptionGroup">
        <mat-accordion [multi]="true">
          <mat-expansion-panel formGroupName="dataQuery">
            <mat-expansion-panel-header>
              <mat-panel-title>数据集</mat-panel-title>
            </mat-expansion-panel-header>
            <mat-form-field appearance="outline">
              <mat-label>Collection</mat-label>
              <mat-select name="dataQuery.collection" formControlName="collection">
                <mat-option value="temperature-and-humidity">temperature-and-humidity</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>类型</mat-label>
              <mat-select name="dataQuery.type" formControlName="type">
                <mat-option value="find">find</mat-option>
                <mat-option value="xxx">xxx</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Query</mat-label>
              <textarea matInput name="dataQuery.query" formControlName="query"></textarea>
            </mat-form-field>
          </mat-expansion-panel>
          <mat-expansion-panel formGroupName="axis">
            <mat-expansion-panel-header>
              <mat-panel-title>Axis</mat-panel-title>
              <mat-panel-description style="justify-content: flex-end;">
                <mat-slide-toggle
                  name="axis.enable"
                  formControlName="enable"
                  (click)="$event.stopPropagation();">
                </mat-slide-toggle>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <ng-container formGroupName="xAxis">
              <span>X Axis</span>
              <mat-form-field appearance="outline">
                <mat-label>名称</mat-label>
                <input matInput type="text" name="axis.xAxis.name" formControlName="name" />
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>类型</mat-label>
                <mat-select name="axis.xAxis.type" formControlName="type">
                  <mat-option value="category">category</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>应用字段</mat-label>
                <input matInput type="text" name="axis.xAxis.field" formControlName="field" />
              </mat-form-field>
            </ng-container>
            <ng-container formGroupName="yAxis">
              <span>Y Axis</span>
              <mat-form-field appearance="outline">
                <mat-label>名称</mat-label>
                <input matInput type="text" name="axis.yAxis.name" formControlName="name" />
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>类型</mat-label>
                <mat-select name="axis.yAxis.type" formControlName="type">
                  <mat-option value="value">Value</mat-option>
                </mat-select>
              </mat-form-field>
            </ng-container>
          </mat-expansion-panel>
          <mat-expansion-panel formArrayName="series">
            <mat-expansion-panel-header>
              <mat-panel-title>Series</mat-panel-title>
            </mat-expansion-panel-header>
            <ng-container *ngFor="let series of chartsSeriesOption.controls; index as index;">
              <ng-container [formGroupName]="index">
                <span>series-{{ index + 1 }}</span>
                <mat-form-field appearance="outline">
                  <mat-label>名称</mat-label>
                  <input matInput type="text" name="series.name" formControlName="name" />
                </mat-form-field>
                <mat-form-field appearance="outline">
                  <mat-label>类型</mat-label>
                  <mat-select name="series.type" formControlName="type">
                    <mat-option value="pie">Pie</mat-option>
                    <mat-option value="line">Line</mat-option>
                    <mat-option value="bar">Bar</mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field appearance="outline">
                  <mat-label>应用字段</mat-label>
                  <input matInput type="text" name="series.field" formControlName="field" />
                </mat-form-field>
              </ng-container>
            </ng-container>
          </mat-expansion-panel>
        </mat-accordion>
        <div style="padding: 16px; text-align: end;">
          <button
            mat-raised-button
            color="accent"
            [disabled]="chartsOptionGroup.invalid"
            (click)="saveVisualization();">
            保存
          </button>
          &nbsp;
          <button
            mat-raised-button
            color="primary"
            [disabled]="chartsOptionGroup.invalid"
            (click)="applyChartsOption();">
            应用
          </button>
        </div>
      </form>
      <pre>
        <code>{{ chartsOptionGroup.value | json }}</code>
      </pre>
    </div>
  </section>
</ng-container>
