@use "sass:map";
@use "~@angular/material" as mat;
@use "../../../../styles/themes/themes" as themes;
@use "../../../../styles/utils/color-scheme" as color-scheme;

@mixin color($config-or-theme) {
  $color-config: mat.get-color-config($config-or-theme);
  $background: map.get($color-config, background);

  .mat-list-item {
    &.active {
      &, &:hover, &:focus {
        background-color: mat.get-color-from-palette($background, hover, 0.12);
      }
    }
  }
}

@mixin theme($theme-or-color-config) {
  $color-config: mat.get-color-config($theme-or-color-config);
  @if $color-config != null {
    @include color($theme-or-color-config);
  }
}

:host {
  display: block;
}

@include theme(themes.$light-theme);

@include color-scheme.matcher(dark) {
  @include theme(themes.$dark-theme);
}
