@use "~@angular/material" as mat;

:host {
  flex: 1 1 auto;
  display: flex;
  flex-flow: column nowrap;
}

gridster {
  flex: 1 1 auto;
  background-color: transparent;
  > gridster-item {
    @include mat.elevation(2);
    overflow: visible;
    border-radius: 8px;
    &:hover {
      z-index: 2 !important;
    }
    &.gridster-item-moving {
      z-index: 2 !important;
    }
  }
  ::ng-deep {
    > gridster-preview {
      box-sizing: border-box;
      border-radius: 8px;
      border: 1px dashed gray;
    }
  }
  &.gridster--editing {
    user-select: none;
    > gridster-item {
      cursor: grab;
      &.gridster-item-moving {
        cursor: grabbing;
      }
    }
    ::ng-deep {
      app-visualization-wrapper > main {
        user-select: none;
        pointer-events: none;
      }
    }
  }
  &.mobile {
    > gridster-item {
      &:last-of-type {
        margin-bottom: 0px !important;
      }
    }
  }
}
