
<main>
  <mat-card>
    <table mat-table [dataSource]="tableDataSource">
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox
            (change)="$event ? masterToggle() : null"
            [checked]="selection.hasValue() && isAllSelected()"
            [indeterminate]="selection.hasValue() && !isAllSelected()">
          </mat-checkbox>
        </th>
        <td mat-cell mat-cell *matCellDef="let row;">
          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)="$event ? selection.toggle(row) : null"
            [checked]="selection.isSelected(row)">
          </mat-checkbox>
        </td>
      </ng-container>
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef>序号</th>
        <td mat-cell mat-cell *matCellDef="let index = index;">{{ index + 1 }}</td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>名称</th>
        <td mat-cell mat-cell *matCellDef="let row;">{{ row.name }}</td>
      </ng-container>
      <ng-container matColumnDef="connectionString">
        <th mat-header-cell *matHeaderCellDef>连接字符串</th>
        <td mat-cell mat-cell *matCellDef="let row;">{{ row.connectionString }}</td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </mat-card>
</main>

<button mat-fab class="add-button" (click)="openCreationDialog();">
  <mat-icon>add</mat-icon>
</button>
