@use "sass:map";
@use "../../../styles/utils/responsive" as responsive;

:host {
  flex: 1 1 auto;
  display: flex;
  padding: 16px;
  box-sizing: border-box;
  justify-content: center;
}

main {
  flex: 1 1 auto;
  max-width: map.get(responsive.$sizes, 'medium');
}

table {
  width: 100%;
  .mat-header-cell {
    white-space: nowrap;
  }
  .mat-column-select {
    width: 32px;
  }
  .mat-column-position {
    width: 64px;
    text-align: center;
  }
  .mat-column-name {
    max-width: 320px;
    padding-right: 16px;
  }
}

.add-button {
  right: 20px;
  bottom: 20px;
  position: fixed;
}
